# Ignore everything by default
/*

# Allow these paths
!.gitignore
!.obsidian/
!🧾 Metadata/Scripts/
!🧾 Metadata/Clipper/
!🧭 Dashboards/
!⚙️ Templates/

# But still ignore Obsidian workspace state
.obsidian/workspace.json
